<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Типография{% endblock %}</title>
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css">
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-blocks-page37364571.min.css">
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-2.0.min.css">
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-popup-1.1.min.css">
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-forms-1.0.min.css">
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-scripts-3.0.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-blocks-page37364571.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-lazyload-1.0.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-animation-2.0.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-phone-mask-1.1.min.js"></script>
</head>
<body>
    <header>
        <h1>Типография</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2026 Типография</p>
    </footer>
</body>
</html>